##################################################################################
# Command line Example:
# C:\wrimsv2_SG\bin\runConfig_limitedXA.bat D:\example\EXISTING_BO.config
# 
# Note:
# 1. This config file and the RUN directory must be placed in the same directory.
# 2. Use relative path to increase the portability.
#    For example, use RUN\main.wresl for MainFile and DSS\INIT.dss for InitFile
##################################################################################


MainFile           c:\pa\1\Run\1.launch.config.par
Solver             CBC
DvarFile           c:\pa\1\DSS\output\8.13.2-adjdanube_24ITP_OMR_PA_20241202_v1.7_50_par.dss
SvarFile           c:\pa\1\DSS\input\DCR2023_SV_Danube_Adj_v1.8.dss
GroundwaterDir     c:\pa\1\Run\CVGroundwater\Data\
SvarAPart          CALSIM
SvarFPart          L2020A
InitFile           c:\pa\1\DSS\input\pa_pa_19220101_INIT_Jan2025_v1_50.dss
InitFPart          L2020A
TimeStep           1MON
StartYear          1941
StartMonth         1
StartDay           1
StopYear           1941
StopMonth          12
StopDay            31
IlpLog             No
IlpLogFormat       None
IlpLogVarValue     No
IlpLogAllCycles    No
IlpLogUsageMemory  no
WreslPlus          yes
AllowSvTsInit      yes
AllRestartFiles    no
NumberRestartFiles 12
DatabaseURL        none
SQLGroup           calsim
OVOption           0
OVFile             .
OutputCycleDatatoDss no
OutputAllCycleData yes
SelectedCycleOutput ''
ShowRunTimeMessage no
PrintGWFuncCalls   no
prefixinittodvarfile  no
unchangegwrestart     yes
gensvcatalog          no
cbcTolerancePrimal        1e-9
cbcTolerancePrimalRelax   1e-7
cbcToleranceWarmPrimal    1e-9
cbcToleranceInteger       1e-9
cbcToleranceIntegerCheck  1e-8
cbcToleranceZero          1e-11
cbcHintRelaxPenalty       9000
cbcHintTimeMax            100
